<div>
  <div class="padd">
    <table class="table text-center table-bordered">
      <thead class="light">
        <tr>
          <th>Sl.No</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Details</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <button
              class="btn btn-outline-info btn-sm"
              type="button"
              [routerLink]="['/crud/details/', product.id]"
            >
              View
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-success btn-sm"
              type="button"
              [routerLink]="['/crud/update/', product.id]"
            >
              Update
            </button>
          </td>
          <td>
            <button
              class="btn btn-outline-danger btn-sm"
              type="button"
              (click)="deletePdt(product.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
